

bin/main/static/**/*.css
bin/main/static/**/**/*.css
src/main/resources/static/**/*.css
src/main/resources/static/**/**/*.css


bin/main/templates/**/*.html linguist-vendored
src/main/resources/templates/**/*.html linguist-vendored
