

bin/main/static/**/*.css linguist-vendored
bin/main/static/**/**/*.css linguist-vendored
src/main/resources/static/**/*.css linguist-vendored
src/main/resources/static/**/**/*.css linguist-vendored

bin/**/**/**/*.css linguist-vendored
bin/**/**/**/**/*.css linguist-vendored
bin/**/**/**/**/**/*.css linguist-vendored
src/**/**/**/*.css linguist-vendored
src/**/**/**/**/*.css linguist-vendored
src/**/**/**/**/**/*.css linguist-vendored

bin/main/static/css/*.css


bin/main/templates/**/*.html linguist-vendored
src/main/resources/templates/**/*.html linguist-vendored
