<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">
  
<head>
	<title>User</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}"/>
	 <!-- Bootstrap core CSS -->
  	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  	<!-- Custom styles for this template -->
  	<link href="/css/modern-business.css" rel="stylesheet">
  	
		
</head>
<body>
<div layout:fragment="content">
<div class="m-t-200">
	<h2 th:text="#{common.joinMemberSuccess(${userName})}">{0}님, 가입을 축하드립니다.</h2>
	<a href="../auth/loginForm.html" th:href="@{/auth/login}" th:text="#{action.login}">로그인</a>
</div>
</div>
</body>
</html>
