<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_template}">
	
<head>
	<title>User</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>	
</head>
<body>
<div layout:fragment="content">
	<div class="limiter">
		<div class="wrap-login100 p-t-100 p-b-90">
			<span class="login100-form-title p-b-51">
				<h2 th:text="#{user.header.register}">회원 가입</h2>
			</span>
				<table>
					<form id="member" action="list.html" th:action="@{/user/register}" th:object="${member}" method="POST">
							<tr>
				<!-- 				<td th:text="#{user.userId}">아이디</td> -->
								<td>
									<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
										<input class="input100" type="text" name="userId" th:field="*{userId}" placeholder="id"/>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<span class="error_message input100" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId의 에러 메시지</span>
								</td>
							</tr>
							<tr>
				<!-- 				<td th:text="#{user.userPw}">비밀번호</td> -->
								<td>
									<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
										<input class="input100" type="text" name="userPw" th:field="*{userPw}" placeholder="password" />
									</div>
								</td>
							</tr>
							<tr>
								<td><span class="error_message input100" th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}">userPw의 에러 메시지</span></td>
							</tr>
							<tr>
				<!-- 				<td th:text="#{user.userName}">사용자명</td> -->
								<td>
									<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
										<input class="input100" type="text" name="userName" th:field="*{userName}" placeholder="userName" />
									</div>
								</td>
							</tr>
							<tr>
								<td><span class="error_message input100" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName의 에러 메시지</span></td>
							</tr>
							<tr>
				<!-- 				<td th:text="#{user.job}">직업</td> -->
								<td>
									<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
									<select class="input100" th:field="*{job}">
										<option th:each="item : ${jobList}" th:value="${item.value}" th:text="${item.label}"></option>
									</select>
									</div>
								</td>
								<td><span class="error_message" th:if="${#fields.hasErrors('job')}" th:errors="*{job}">job의 에러 메시지</span></td>
							</tr>
					</form>
					<tr>
						<td>
							<button class="login100-form-btn" type="submit" id="btnRegister" th:text="#{action.register}">등록</button>
							<th:block sec:authorize="hasRole('ROLE_ADMIN')">
								<button class="login100-form-btn m-t-5" id="btnList" th:text="#{action.list}">목록</button>
							</th:block>
						</td>
					</tr>
				</table>
				
			
			
		</div>
	</div>
	
	
	<script th:inline="javascript">
		$(document).ready(function() {
	
			var formObj = $("#member");
	
			$("#btnRegister").on("click", function() {
				formObj.submit();
			});
			
		[#th:block sec:authorize="hasRole('ROLE_ADMIN')"]
			$("#btnList").on("click", function() {
				self.location = "list";
			});
		[/th:block]
	
		});
	</script>
</div>
</body>
</html>
