<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
	
<head>
   <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/modern-business.css" rel="stylesheet">

</head>

<body>
	<header class="header">
		<div class="page_title">
			<h3 id="title" class="p-t-5 p-b-5">공간정보</h2>
		</div>
		<a href="javascript:void(0);" onclick="goBack()" class="nav_prev p-t-5 p-b-5">
			<span class="">
			<i class="fa fa-arrow-left" style="font-size:30px;color:white;"></i>
			</span>
		</a>
		<a href="javascript:void(0);" class="nav_menu">
			<span class="" style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
			<i class="sp_icon ico_new" style="display: none;">NEW</i>
		</a>
		
	</header>

</body>
</html>
