<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/search_template}">
<head>
	<title>OUR SPACE</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}"/>
	 <!-- Bootstrap core CSS -->
  	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  	<!-- Custom styles for this template -->
  	<link href="/css/modern-business.css" rel="stylesheet">
  	
  	<!-- Theme CSS -->
	<link href="/css/freelancer.min.css" rel="stylesheet">
	
	
</head>
<body>
<div layout:fragment="content">
	<div class="w-75 p-5">
		<div class="p-3">
			<h2>예약이 완료 되었습니다!</h2>
		</div>
		
		<div class="reserv-info-box card h-150 m-b-100">
	          <h5 class="reserv-caution-header card-header text-left">예약내용</h5>
	          <div class="reserv-caution-body card-body">
	          
		       			<div class="row p-4 border-bottom">
							<div class="col-2">신청일</div>
							<div class="col-10 text-left">
								<span th:text="${#dates.format(reservInfo.createdAt, 'yyyy년 MM월  dd일 ')}"></span>
								<span th:text="|(${#dates.dayOfWeekNameShort(reservInfo.createdAt)}) |"></span>
							</div>				  		
				  		</div>
	          </div>
          </div>
		
	</div>
	
</div>

</body>